<div class="wall" id="main-wall">
    {% comment %}<h2>
        {{ wall.hash }} : {{ wall.created_date }} : ownby: {{ wall.owner }}
    </h2>{% endcomment %}

    <div class="area">
        {% for image in images %}
            {% include 'walls/wall_image.html' %}
        {% endfor %}
    </div>

    <div class="greeting-message">
        <div class="message-content">
            <h2 class="title">
                <strong>Lemidora's idea</strong> is very simple:
            </h2>
            <ol>
                <li class="mi">drop your photos <span>(right here)</span></li>
                <li class="re">share link with your friends</li>
                <li class="do">have fun!</li>
            </ol>
        </div>
    </div>

    <script type="text/x-lemidora-template" id="image-item">
        {% include 'walls/wall_image.html' %}
    </script>

    <div class="uploader">
        <div class="overlay"></div>

{#        <a class="close-button" href="#close">hide overlay</a>#}

        <div class="content-wrap">
            <div class="content">
                <div class="title">Drop your images <em>(anywhere)</em></div>
                <ul class="file-list"></ul>
                <div class="progress-bar"></div>
            </div>
        </div>

        <script type="text/x-lemidora-template" id="file-item">
            <li>
                <div class="name"></div>
                <div class="size"></div>
            </li>
        </script>
    </div>
</div>
