{% extends 'layout/base.html' %}

{% load assets %}

{% block static %}
    {% assets "wall_page_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "wall_page_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        Lemidora.wallPage.uploadUrl = '{% url upload_image wall.hash %}';
        Lemidora.wallPage.updateImageUrl = '{% url update_image wall.hash %}';
        Lemidora.wallPage.deleteImageUrl = '{% url delete_image wall.hash %}';
        Lemidora.wallPage.autoUpdateUrl = '{% url wall_status wall.hash %}';
        Lemidora.wallPage.csrf = '{{ csrf_token }}';
    </script>
{% endblock %}

{% block content %}
    z<div class="wall" id="main-wall"></div>
{% endblock %}
