.page-header {
    background: #3d3d3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d3d3d 0%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d3d3d 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d3d3d 0%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d3d3d 0%,#262626 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d3d3d 0%,#262626 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#262626',GradientType=0 ); /* IE6-9 */

    box-shadow: 0 2px 10px #222;
    color: #eee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.page-header h1 {
    margin: 0 20px;
    font-size: 2.2em;
    line-height: 60px;
    display: inline-block;
    font-family: Yesteryear, Arial, Liberation Sans, sans-serif;
    text-shadow: 3px 3px 0 #222;
}

.page-header .slogan {
    font-size: 11px;
    font-style: italic;
}

.page-header .decor {
    overflow: hidden;
    background-color: #333;
}

.page-header .decor .le,
.page-header .decor .mi,
.page-header .decor .do,
.page-header .decor .ra {
    float: left;
    width: 34px;
    height: 10px;
}

.page-header .decor .le {
    background-color: #ff2a75;
}

.page-header .decor .mi {
    background-color: #17b2ff;
}

.page-header .decor .do {
    background-color: #8dff5c;
}

.page-header .decor .ra {
    background-color: #ffb100;
}