.wall-image {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
    border: 1px solid #444;
    background: #fff;
    padding: 2px;
}

.wall-image img.image {
    vertical-align: top;
}

.wall-image > .title {
    padding: 4px;
    display: none;
    color: #333;
}

.wall-image:hover {
    cursor: move;
}

.wall-image .last-edit {
    position: absolute;
    left: 0;
    bottom: 100%;
    background: #444;
    border-radius: 5px 5px 0 0;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
    font-size: 11px;
    padding: 4px 6px;
    display: none;
}

.wall-image:hover .last-edit {
    display: block;
}

.wall-image .last-edit > .label {
    color: #aaa;
}

.wall-image .last-edit .datetime {
    color: #fff;
}

.wall-image .last-edit .person {
    color: #17b2ff;
    white-space: nowrap;
}
