<header class="page-header">
    <div class="logo">
        <h1>Lemidora</h1>
        <span class="slogan">best way to share your photos</span>
    </div>

    {% if wall_page %}
        {% include 'walls/wall_header.html' %}
    {% endif %}

    <div class="auth">
        {% if user.is_authenticated %}
            <a class="logout" href="{% url logout %}">Sign Out</a>
        {% else %}
            <a class="login" href="{% url login %}">Sign In</a>
        {% endif %}
    </div>

    <div class="clear"></div>

    <div class="decor">
        <div class="le"></div>
        <div class="mi"></div>
        <div class="do"></div>
        <div class="ra"></div>
    </div>
</header>
